@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Add these CSS styles to your global CSS file or inside a <style> tag in your component */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out;
}

/* 모달 배경을 흐리게 처리하기 위한 스타일링 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1); /* 반투명 검정색 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50; /* 높은 z-index 값으로 다른 요소 위에 오도록 설정 */
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.6); /* 약간의 불투명 흰색 배경 */
  backdrop-filter: blur(10px); /* 블러 효과 추가 */
  padding: 4rem;
  padding-left: 8rem;
  padding-right: 8rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 800px;
  z-index: 60; /* 모달 내용이 모달 배경 위에 오도록 설정 */
}
